{{ define "list-article" }}
<div id="article-list">
	{{range .Articles}}
		{{ template "article" . }}
	{{end}}
</div>
{{ end }}


{{ define "article" }}
	<a href="/article/{{ .ID }}">
		<div>
			<h2>{{.Title}}</h2>
			<p>{{.Content}}</p>
		</div>
	</a>
{{ end }}

{{ define "create-article" }}
<form hx-post="/article" hx-swap="afterbegin" hx-target="#article-list" hx- enctype="multipart/form-data">
	<span>Title</span>
	<input type="text" name="title" value="" required>
	<span>Content</span>
	<input type="content" name="content" value="" required>
	<span>Picture</span>
	<input type="file" name="picture" value="" required>

	<button type="submit"> Create </button>
</form>
{{ end }}

{{ define "show-article" }}
    <h2>{{.Title}}</h2>
    <p>{{.Content}}</p>
    <img src="/public/images/{{.Image}}" alt="{{.Title}}" style="width:100%; height:auto;">
{{ end }}

